@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --blue: #001f51;
  --white: #ffffff;
  --deep-red: #940f14;
  --light-red: #d00000;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
}

.primary-btn {
  padding: 18.5px 30.5px;
  background: var(--blue);
  color: var(--white);
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 35px;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background-color: var(--light-red);
}
.col-7 {
  width: calc(8.33% * 7);
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-5 {
  width: calc(8.33% * 5);
  padding: 0 15px;
}

.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
/* ==============* Header section *============ */
.header-sec {
  padding: 25px 0;
}
.navbar,
.navbar-collapsed,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
}
.navbar {
  margin: 0 auto;
}
.navbar-collapsed {
  flex-grow: 1;
}
.navbar-collapsed > ul {
  margin: 0 0 0 auto;
}

.nav-items {
  margin-left: 35px;
}

.nav-items:first-child {
  margin-left: 0;
}
.nav-links {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--blue);
  transition: all 0.3s ease;
}
.nav-links:hover,
.nav-links.active {
  color: var(--deep-red);
}
.nav-btn > .primary-btn {
  margin-left: 30px;
  margin-top: 0;
}

.menu {
  display: none;
}
/* ==============* Banner section *============ */

/* ==============* col-7 *============ */
.banner-sec {
  min-height: 590px;
  background: url("../asset/banner-bg.png") center / cover no-repeat;
  display: flex;
  align-items: center;
}

.title-1 {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--blue);
}
.title-1 > i {
  color: var(--light-red);
  font-weight: bold;
}

.banner-content > p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 35px;
  color: var(--blue);
}

.banner-btn > .primary-btn {
  background-color: var(--light-red);
  padding: 18.5px 36.5px;
}
.banner-btn > .primary-btn:hover {
  background: var(--blue);
}
/* ==============* col-5 *============ */
.form-wrapper {
  max-width: 468px;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
}

.title-3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 47px;
}

form {
  width: 100%;
}

.form-row {
  display: flex;
}

input,
textarea {
  width: 100%;
  padding: 14px 15px;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  color: #afafaf;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

textarea {
  min-height: 106px;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: var(--blue);
}

button {
  margin-top: 10px;
  padding: 16px;
  width: 100%;
  background: var(--light-red);
  color: var(--white);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--blue);
}
/* ==============* About section *============ */
.about-row {
  align-items: center;
}
.about-sec {
  padding: 100px 0;
}
.about-img {
  max-width: 568px;
  margin: 0 auto;
}
.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-2 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--blue);
}
.title-2 > i {
  color: var(--light-red);
  font-weight: bold;
}

.about-content > p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 37px;
  color: var(--blue);
}

/* ==============* Product section *============ */

.product-sec {
  padding: 100px 0;
  background: #f3f3f3;
}
.product-content p {
  max-width: 777px;
  margin: 40px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--blue);
}
.product-content > .title-2 {
  text-align: center;
}

.card {
  background: var(--white);
  border-radius: 20px;
  padding: 15px 15px 40px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}
.card-img {
  max-width: 340px;
  margin: 0 auto;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-4 {
  font-family: "Inter", sans-serif;
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--blue);
  margin-top: 22px;
}
.product-sec-btn {
  display: flex;
  justify-content: center;
}

/* ==============* Footer section *============ */
.footer-sec {
  background: url("../asset/footer-img.png") center / cover no-repeat;
  min-height: 264px;
  width: 100%;
}
.footer {
  text-align: center;
}
.footer-logo {
  padding-top: 55px;
}
.lending,
.privacy {
  color: var(--white);
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
}

.footer-text {
  color: var(--white);
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.privacy {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
  color: var(--white);
}

.privacy::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: var(--white);
}
.privacy:hover {
  text-decoration: underline;
}
.lending:hover {
  text-decoration: underline;
}

/* ================= MEDIA SCREEN ================= */

@media screen and (max-width: 991px) {
  .col-7,
  .col-6,
  .col-5,
  .col-4 {
    width: 100%;
  }
  .banner-sec {
    padding: 15px 0;
  }

  .navbar-collapsed {
    display: none;
  }
  .menu {
    display: inline-block;
    color: black;
    margin-left: auto;
  }
  .title-1 {
    font-size: 64px;
    text-align: center;
  }
  .title-4 {
    text-align: center;
  }
  .banner-content p {
    text-align: center;
  }

  .banner-btn {
    text-align: center;
  }

  .form-wrapper {
    margin-top: 40px;
  }

  .about-content {
    margin-top: 40px;
    text-align: center;
  }

  .about-img {
    max-width: 100%;
  }
  .card {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .title-1 {
    font-size: 42px;
  }

  .title-2 {
    font-size: 32px;
    text-align: center;
  }

  .title-3 {
    font-size: 18px;
  }

  .title-4 {
    font-size: 16px;
    text-align: center;
  }

  .primary-btn {
    padding: 14px 22px;
    font-size: 16px;
  }

  .nav-logo img {
    max-width: 140px;
  }

  .nav-btn {
    margin-top: 15px;
  }

  .footer-text,
  .lending,
  .privacy {
    font-size: 14px;
  }
  .privacy {
    position: relative;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 20px;
    color: var(--white);
  }
  .footer-logo img {
    max-width: 140px;
  }
}
